<div class="hero-unit">
  <h1>cheepar.admin</h1>
  <p>logged as user:huseyinozcan at Feb. 26th</p>
  <p>
    <a class="btn btn-primary btn-large">
       Start
    </a>
  </p>
</div>
<table class="table table-striped">
  <tr>
    <th>Description</th>
    <th>Note</th>
    <th>Priority</th>
    <th>Due</th>
    <th>Scheduled for</th>
    <th>Competed at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>
